::ng-deep.data-employee-dialog .p-dialog {
  height: auto !important;
}

::ng-deep.data-employee-dialog .p-dialog-header {
  flex-direction: unset !important;
  padding: 8px 16px !important;
}

::ng-deep.data-employee-dialog .p-dialog-content {
  padding: 12px !important;
  height: 65%;
}

::ng-deep.data-employee-dialog .p-dialog-footer {
  flex-direction: unset !important;
  padding: 8px 12px !important;
  background: var(--surface-strong) !important;
  border-top: 1px solid var(--surface-border) !important;
  justify-content: center !important;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
