<section
  class="app-window"
  [class.is-active]="window.active"
  [class.is-hidden]="window.minimized"
  [style.width.px]="window.width"
  [style.height.px]="window.height"
  [style.top.px]="window.top"
  [style.left.px]="window.left"
  (mousedown)="onActivate()"
>
  <header class="app-window__titlebar" (mousedown)="onStartDrag($event)">
    <div class="app-window__title">
      <span
        class="material-icons window-icon my-1"
        [style.background]="getTheme(window.action).bg"
        [style.color]="getTheme(window.action).color"
      >
        {{ getTheme(window.action).icon }}
      </span>
      <span class="windowTitle">{{ window.title }}</span>
    </div>
    <div class="app-window__actions" *ngIf="!window.hideControls">
      <button type="button" (click)="onMinimize()"><span class="material-icons" style="font-size:16px">remove</span></button>
      <button type="button" (click)="onMaximize()">
        <span class="material-icons" style="font-size:16px">{{ window.maximized ? "filter_none" : "crop_square" }}</span>
      </button>
      <button type="button" class="danger" (click)="onClose()"><span class="material-icons" style="font-size:16px">close</span></button>
    </div>
  </header>

  <div class="app-window__body">
    <ng-container *ngComponentOutlet="window.component"></ng-container>
  </div>

  <div
    class="resize-handle bottom-left"
    (mousedown)="onStartResize($event)"
  ></div>
</section>
